#board {
    margin: auto;
    border: 0;
    background: #EEE;
    width: 85%;
    min-width: 500px;
    height: 70vh;
    font-family: sans-serif;
    text-align:center;
    font-size: 24px;
}
body {padding:0;margin:0}
#board td {
    height: 33%;
    border-collapse: collapse;
    width: 33%;
    border-bottom: 2px solid;
    border-right: 2px solid;
}
#board tr:last-child td {
    border-bottom: 0;
}
#board td:last-child {
    border-right: 0;
}
